html {
    box-sizing: border-box;
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format(woff);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format(woff);
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Semi Bold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format(woff);
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "DIN";
    src: local("DIN Light"),
    url("../fonts/DINCondensed-Light.woff2") format("woff2"),
    url("../fonts/DINCondensed-Light.woff") format(woff);
    font-display: swap;
    font-weight: 300;
}

body {
    font-family: Open Sans, sans-serif;
}

a,
button {
    font-family: DIN, sans-serif;
}

img {
    max-width: 100%;
}

:root {

}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1284px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-reset {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.btn-reset {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    padding: 16px 60px;
    background-color: #5B6460;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 300;
}


/* HEADER */

.header {
    padding: 20px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 36px;
}

.nav__link {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}